.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.roller-container {
  align-items: center;
  height: 30vh;
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  border: #333;
}

.rolls-container {
  overflow-y: scroll;
  width: 100%;
  padding: 1rem;
}

.rolls-container::-webkit-scrollbar {
  width: 0.5em;
}

.rolls-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.rolls-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.rolls-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
